APScheduler==3.6.3
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
html5lib==1.1
idna==2.10
numpy==1.20.1
pandas==1.2.2
python-dateutil==2.8.1
python-telegram-bot==13.3
pytz==2021.1
requests==2.25.1
schedule==1.0.0
six==1.15.0
soupsieve==2.2
tabletext==0.1
tornado==6.1
tzlocal==2.1
urllib3==1.26.3
webencodings==0.5.1
